<%= form_tag(search_molecules_path, method: "get") do %>
  <div class="form-group">
    <label for="smarts">Insira o Smart que deseja procurar na base:</label>
    <input type="text" class="form-control" id="smarts" name="smarts" placeholder="Exemplo: [CX3](=O)[OX2H1] (Ácido carboxílico)">
  </div>
  <p>
    Alguns padrões pré-definidos: <a href="javascript:void(0);" onclick="add_smarts(this)" class="add-smarts" data-smarts-type="carboxilico">Ácido carboxílico</a> |
    <a href="javascript:void(0);" onclick="add_smarts(this)" class="add-smarts" data-smarts-type="amina">Amina</a> |
    <a href="javascript:void(0);" onclick="add_smarts(this)" class="add-smarts" data-smarts-type="amida">Amida</a>
  </p>

  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <label for="molecular_mass_start">Massa molecular mínima: </label>
        <input type="text" name="molecular_mass_start" id="molecular_mass_start" class="form-control">
      </div>
      <div class="form-group">
        <label for="molecular_mass_end">Massa molecular máxima: </label>
        <input type="text" name="molecular_mass_end" id="molecular_mass_end" class="form-control">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="atom_number_start">Número mínimo de átomos: </label>
        <input type="text" name="atom_number_start" id="atom_number_start" class="form-control">
      </div>
      <div class="form-group">
        <label for="atom_number_end">Número máximo de átomos: </label>
        <input type="text" name="atom_number_end" id="atom_number_end" class="form-control">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="hydrogen_bond_donor_start">Número mínimo de HDBs: </label>
        <input type="text" name="hydrogen_bond_donor_start" id="hydrogen_bond_donor_start" class="form-control">
      </div>
      <div class="form-group">
        <label for="hydrogen_bond_donor_end">Número máximo de HDBs: </label>
        <input type="text" name="hydrogen_bond_donor_end" id="hydrogen_bond_donor_end" class="form-control">
      </div>
    </div>
  </div>
  <input type="submit" class="btn btn-default" value="Procurar">
<% end  %>
