body {
  padding-top: 30px;
}

.starter-template {
  padding-top: 40px;
}

table#filters-table {
  text-align: center;
  th {
    text-align: center;
  }
  tbody {
    tr {
      td {

    text-align: center;
      }
    }
  }
  td {
  }
  input {
    width: 50%;
  }
}
